html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url(../src/images/bg-repeat.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  font-weight: 400;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  width: 100%;
  margin: 14px;
}

.infos h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
  width: 400px;
  color: #fff;
}

.infos p {
  font-size: 1.5rem;
  color: #fff;
  max-width: 300px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 378px;
  padding: 20px 5px 15px 5px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.form-content {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

.form-content input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #dfdfdf;
}

.form-content a {
  position: absolute;
  bottom: -2x;
  visibility: hidden;
}
.form-content .text-area {
  height: 100px;
  padding: 8px 0px 72px 8px;
}

.aviso-fixo {
  display: flex;
  margin-left: 30px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
}
.form .btn {
  background-color: #3ccc87;
  color: #fff;
  font-weight: 700;
  width: 300px;
  padding: 12px;
  margin: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.form-content.verificado .input {
  border: 1px solid #00c22b;
}

.form-content.error .input {
  border: 1px solid #f52e2e;
  font-weight: 400;
}

.form-content.error .aviso {
  color: #f52e2e;
  visibility: visible;
}
